@model NaijaCA_Forum.Models.MemberDto

@{
    ViewBag.Title = "DeletePrompt";
}

<h2>Delete Prompt</h2>

<div>
    Are you sure to delete Member below:
</div>
<br />

<div>Profile Picture: @Model.ProfilePic</div>

<div>Username: @Model.UserName</div>
<div>Name: @Model.FirstName @Model.LastName</div>
<div>Province: @Model.ProvinceName</div>
<div>City: @Model.CityName</div>
<div>Date Landed: @Model.LandedDate</div>
<div>Favourite Quote: @Model.FavouriteQuote</div>
<div>Comment (Optional): @Model.Comment</div>

<form action="/member/delete/@Model.MemberID" method="post">
    <button>Delete</button>
</form>
<br>
<form action="/member/list" method="post">
    <button>Cancel</button>
</form>


