@model Cummulative1.Models.Teacher

@{
    ViewBag.Title = "TeacherShow";
}

@{
    var data = ViewBag.SearchKey;
 }

<h1>Showing teacher corresponding to the ID provided</h1>

<p><strong><em>@Model.TeacherFname @Model.TeacherLname</em></strong></p>
<div>With teacher's ID of @Model.TeacherId</div>
<div>Hired on the @Model.TeacherHireDate</div>
<div>Having current salary of @Model.TeacherSalary $</div>
